.projectContainer {
  max-width: 1280px;
}

.content {
  position: relative;
  border-radius: var(--ifm-card-border-radius);
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-20%);
  }
}

/* Gradient Boxes */
.gradientBox {
  position: absolute;
  pointer-events: none;
  top: 0;
  height: 100%;
  width: 20px;
  z-index: 1;
  margin-right: -1px;
  margin-left: -1px;
}

.leftBox {
  left: 0;
  background-image: linear-gradient(to right, var(--content-background-color), transparent);
}

.rightBox {
  right: 0;
  background-image: linear-gradient(to left, var(--content-background-color), transparent);
}

html[data-theme='dark'] .leftBox {
  background-image: linear-gradient(to right, #18181baa, transparent);
}

html[data-theme='dark'] .rightBox {
  background-image: linear-gradient(to left, #18181baa, transparent);
}

/* Media Queries */
@media (width >= 640px) {
  .slider {
    height: 250px;
  }

  .slide {
    height: 200px;
    width: 300px;
  }

  .gradientBox {
    width: 50px;
  }
}

@media (width >= 768px) {
  .gradientBox {
    width: 100px;
  }
}

@media (width >= 1024px) {
  .slider {
    height: 280px;
  }

  .slide {
    height: 200px;
    width: 400px;
  }

  .gradientBox {
    width: 200px;
  }
}
